import streamlit as st
from streamlit_option_menu import option_menu
import sounddevice as sd
import numpy as np
import wave
from openai import OpenAI
from pathlib import Path
import matplotlib.pyplot as plt
import pandas as pd
import json
from streamlit_extras.bottom_container import bottom
import re
import base64
from PyPDF2 import PdfReader
from docx import Document
